<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culinary Connoisseur</title>
    <link href="/css/preferences.css" rel="stylesheet" type="text/css">
</head>

<%- include('.././includes/nav.ejs') %>

<body>
    <!-- Update Preferences portion -->
  <div class="container" id="container">
     <h1 class="black-font">Preferences</h1>
       <div>
         <div class="edit-user-info">
           <form action="/updateNames" method="post">
             <label class="black-font" for="firstname">First Name</label>
             <input type="firstname" name="firstname" id="firstname" value="<%= users.firstName %>">
             <label class="black-font" for="lastname">Last Name</label>
             <input type="lastname" name="lastname" id="lastname" value="<%= users.lastName %>">
             <label class="black-font" for="email">Email</label>
             <input type="email" name="email" id="email" value="<%= users.email %>">
             <input type="hidden" name="_csrf" value="<%= csrfToken %>">
             <button type="submit">Update User</button>
           </form>
         </div>
         <div class="edit-user-password">
           <form action="/updatePassword" method="post">
             <label class="black-font" for="password">Password</label>
             <input type="password" name="password" id="password" placeholder="Password">
             <label class="black-font" for="confirm-password">Confirm Password</label>
             <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password">
             <input type="hidden" name="_csrf" value="<%= csrfToken %>">
             <button type="submit">Update Password</button>
           </form>
         </div>
         <div class="edit-user-securityphrase">
           <form action="/updateSecurityPhrase" method="post">
             <label for="securityPhrase" class="black-font">Security Phrase</label>
             <input type="text" name="securityPhrase" id="securityPhrase" value="<%= users.securityPhrase %>">
             <label for="phraseHint" class="black-font">Security Hint</label>
             <input type="text" name="phraseHint" id="phraseHint" value="<%= users.passwordHint %>">
             <input type="hidden" name="_csrf" value="<%= csrfToken %>">
             <button type="submit">Update Security Phrase</button>
           </form>
         </div>
       </div>
  </div>

  <footer>Culinary Connoisseur</footer>
  <script src='/js/login.js'></script>
</body>
</html>