<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title><%= recipe.title %></title>
  <link rel="stylesheet" href="/css/slideshow.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<%- include('.././includes/nav.ejs') %>

<body>
  <main>
    <div class="grid">
      <article class="card product-item">
        <header class="card__header">
          <h1 class="recipe_title">
            <%= recipe.title %>
          </h1>
        </header>
        <div class="recipe_image">
          <img src="<%= recipe.imageUrl %>" alt="<%= recipe.title %>">
        </div>
        <div class="card_content">
          <h2 class="recipe_time">
            <%= `${recipe.time} minutes` %>
          </h2>
          <h2 class="recipe_servings">
            <%= `${recipe.servings} servings` %>
          </h2>
          <h3>Ingredients</h3>
          <p><% recipe.ingredients %></p>
          <h3>Directions</h3>
          <p><% recipe.directions %></p>
          <h3>Notes</h3>
          <p>
            <% recipe.note %>
          </p>
          <h3>Tags</h3>
          <p>
            <% recipe.tags.join(", ") %></p>
        </div>
        <!-- TODO: If recipe.userId == currentUser._id, allow edit/delete -->
        <div class=" card__actions">
          <form action="/addFavorite" method="POST">
            <input type="hidden" value="<%= recipe._id %>" name="recipeId">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Add to Favorites</button>
          </form>
              <a href="/edit-recipe/<%= recipe._id %>?edit=true" class="btn">Edit</a>
              <form action="/recipe-delete" method="POST">
                <input type="hidden" value="<%= recipe._id %>" name="recipeId">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Delete</button>
              </form>
        </div>
      </article>
    </div>
  </main>
</body>
</html>