<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/css/slideshow.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<header>
  <button id="side-menu-toggle">Menu</button>
  <div class="nav_container">
    <nav class="main-header_nav">
      <ul>
        <a href="#home"><img src="images/CulinaryLogo.png" alt="logo" class="logo"></a>
        <li><a action="/signInUp" href="/signInUp">Login</a></li>
        <li><a href="/recipes">All Recipes</a></li>
        <li><a href="#">User's Recipes</a></li>
        <li><a href="#">Favorite Recipes</a></li>
        <li><a href="#">Edit Recipe</a></li>
      </ul>
    </nav>
  </div>
</header>

<body>
  <main>
    <h1><%= recipe.title %></h1>
    <img src='<%= recipe.imageUrl %>' alt='<%= recipe.title%>'>
    <h2>Time: <%= recipe.time %></h3>
      <h2>Servings: <%= recipe.servings %></h3>
        <table>
          <% recipe.ingredients.forEach(ingredient => { %>
          <tr>
            <td><%= ingredient.quantity%></td>
            <td><%= ingredient.name %></td>
          </tr>
          <% }) %>
        </table>
        <p><%= recipe.directions %></p>
        <p>Note: <%= recipe.note %></p>
        <p>Tags: <%= recipe.tags.join(', ') %></p>
        <!-- **T0-DO maybe include contributer's username here -->

  </main>
</body>

</html>