<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/css/slideshow.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <%- include('.././includes/nav.ejs') %>

  <main>
    <% if (recipes.length > 0) { %>
      <h1>Your Own Recipes</h1>
      <div class="grid">
        <% recipes.forEach(recipe => { %>
        <article class="card product-item">
          <a href='/recipe/<%=recipe._id%>'></a>
          <header class="card__header">
            <h2 class="card_content"><%= recipe.title %></h2>
          </header>
          <img src='<%= recipe.imageUrl %>' alt='<%= recipe.title%>'>
          <div class="card_content">
            <% if (recipe.time) { %>
              <h2 class="recipe_time">
                <%= `Time: ${recipe.time} minutes` %>
              </h2>
            <% } %>
            <% if (recipe.servings) { %>
              <h2 class="recipe_servings">
                <%= `Servings: ${recipe.servings}` %>
              </h2>
            <% } %>
            <h3>Ingredients</h3>
            <p><%= recipe.ingredients %></p>
            <h3>Directions</h3>
            <p><%= recipe.directions %></p>
            <% if (recipe.note) { %>
              <h3>Notes</h3>
              <p>
                <%= recipe.notes %>
              </p>
            <% } %>
            <% if (recipe.tags.length > 0) { %>
              <h3>Tags</h3>
              <p>
                <%= recipe.tags.join(", ") %></p>
            <% } %>
          </div>
              <% if (recipe.time) { %>
              <h2>Time: <%= recipe.time %></h2>
              <% } %>
              <% if (recipe.servings) { %>
              <h2>Servings: <%= recipe.servings %></h2>
              <% } %>
              <% if (recipe.note) { %>
              <p>Note: <%= recipe.note %></p>
              <% } %>
              <% if (recipe.tags.length > 0) { %>
              <p>Tags: <%= recipe.tags.join(', ') %></p>
              <% } %>
            </a>
            <div class=" card__actions">
              <a href="/admin/edit-recipe/<%= recipe._id %>?edit=true" class="btn">Edit</a>
              <form action="/admin/delete-recipe" method="POST">
                <input type="hidden" value="<%= recipe._id %>" name="recipeId">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Delete</button>
              </form>
            </div>
            <% }) %>
            <% } else { %>
            <h1>Shame on you! You haven't added any recipes!</h1>
            <% } %>
        </article>
      </div>
  </main>
</body>

</html>